
#####################################################################
#                  LLL-Buffed CP2112 Shell Bridge
#####################################################################

[gcode_shell_command lll_buffer_cp2112]
command: /home/<Home-Dir>/klippy-env/bin/python /home/<Home-Dir>/printer_data/config/helpers/lll_cp2112_buffer.py
timeout: 15.0 # timout for commands befor klipper forcfully kills them. Only for the command complete/reply, not the actualy movement triggered. 
verbose: False

[gcode_shell_command lll_buffer_cp2112_verbose]
command: /home/<Home-Dir>/klippy-env/bin/python /home/<Home-Dir>/printer_data/config/helpers/lll_cp2112_buffer.py
timeout: 15.0
verbose: True

[gcode_shell_command lll_buffer_cp2112_check]
command: /home/<Home-Dir>/klippy-env/bin/python /home/<Home-Dir>/printer_data/config/helpers/lll_buffer_check.py
timeout: 15.0
verbose: True